* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
  margin: 0;
  padding: 0;
}
input {
  display: none;
}
.modal-backdrop {
  position: fixed;
  top: 70px;
  bottom: 0;
  left: 0;
  height: 100vh;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -100;
}
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Raleway", sans-serif;
}
body::-webkit-scrollbar {
  width: 0px;
}
.disable_scroll {
  height: 100%;
  overflow: hidden;
}
.container {
  margin: 0 auto;
  width: 1240px;
  height: 8em;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  top: 0;
  z-index: 2;
  position: relative;
  height: 80px;
  background-color: #fff;
  width: 100%;
}
.div {
  width: 0px;
  height: 0px;
}
.category {
  padding: 0;
  border: none;
  background: none;
  margin-right: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  text-transform: uppercase;
  list-style: none;
}
.category_name {
  padding-top: 50px;
}
.category_list {
  display: flex;
  flex-direction: row;
}
.active {
  font-weight: 600;
  color: #5ece7b;
  border-bottom: solid 1px #5ece7b;
  padding-bottom: 30px;
}
.category:last-child {
  margin: 0;
}
.logo {
  margin-right: 50px;
}
.main_name {
  display: flex;
}
.card {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  flex-wrap: wrap;
  transition: box-shadow 0.3s ease-in-out;
  justify-content: center;
  font-weight: 300;
  padding: 16px;
}
.card:hover {
  box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.201);
}
.card_set {
  display: flex;
  gap: 41px;
  flex-wrap: wrap;
}
.card b {
  display: flex;
  justify-content: left;
}
.card span {
  display: flex;
  justify-content: left;
}
.card-img {
  object-fit: contain;
  padding-bottom: 10px;
}
.title_price {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.add_to_cart {
  display: flex;
  position: relative;
  right: -290px;
  top: -100px;
  visibility: hidden;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.card:hover {
  .add_to_cart {
    visibility: visible;
  }
}

.cart-button {
  background-color: #fff;
  border: 0;
  cursor: pointer;
}

.currency_option {
  text-decoration: none;
  border: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.currency_option select {
  display: none;
}

.PDP {
  display: flex;
  flex-direction: row;
}
.gallery_block {
  display: flex;
  flex-direction: row;
  padding-top: 100px;
  align-items: flex-start;
}
.secondary_img_block {
  display: flex;
  flex-direction: column;
  overflow: auto;
  max-height: 500px;
}

.secondary_img_block::-webkit-scrollbar {
  width: 0px;
}
.secondary_img {
  margin-bottom: 20px;
  object-fit: contain;
  margin-right: 50px;
}
.main_img {
  object-fit: contain;
  margin-right: 50px;
}
.button_change {
  border: none;
  background-color: #fff;
}
a {
  text-decoration: none;
  color: black;
}

.nostock {
  opacity: 0.5;
}
.nostock::before {
  content: "OUT OF STOCK";
  position: absolute;
  font-size: 24px;
  font-weight: 400;
  margin-left: 100px;
}
.product-color li {
  text-decoration: none;
}
.color-visibility {
  box-shadow: 0px 4px 35px rgba(106, 107, 108, 0.227);
}

.product-attributes {
  display: flex;
  column-gap: 12px;
  list-style: none;
}

.product-attributes li {
  border: 1px solid #000;
  width: 63px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  user-select: none;

  cursor: pointer;
}

.product-color {
  display: flex;
  column-gap: 12px;
  list-style: none;
}

.product-color li {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid black;
}
.add_to_cart_btn {
  margin: 20px 0px 20px 0px;
  border: none;
  text-decoration: none;
  cursor: pointer;

  background-color: #5ece7b;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;

  width: 292px;
  height: 52px;

  transition: 0.2s ease;
}
.attribute-selected {
  background-color: #000;
  color: #fff;
}

.color-selected {
  outline: 2px solid black;
}
.price_description_block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.out-of-stock {
  opacity: 0.6;
  cursor: not-allowed;
}

.out-of-stock:hover {
  opacity: 0.6 !important;
  cursor: not-allowed;
}

//CART OVERLAY
.cart_overlay_bag {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #fff;
  z-index: 1000;
  right: 50px;
  overflow: auto;
  max-height: 500px;
  width: 360px;
  padding: 20px;
}
.cart_items_counter {
  position: absolute;
  top: 10px;
  z-index: 2;
  right: -5px;
  clip-path: circle(50% at 50% 50%);
  background-color: #1d1f22;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  color: #fff;
}
.cart_overlay_bag::-webkit-scrollbar {
  width: 2px;
}
.mini-cart-item__attributes-text_false,
.mini-cart-item__attributes-text_true {
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  border: 1px solid #a6a6a6;
  box-sizing: border-box;
  padding: 0 3px;
  min-width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mini-cart-item__attributes-text_true {
  background: #1d1f22;
  color: #ffffff;
  border: none;
}

.mini-cart-item__attributes-color_false,
.mini-cart-item__attributes-color_true {
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}

.mini-cart-item__attributes-color_true {
  box-shadow: 0 0 0 1px #ffffff, 0 0 0 2px #5ece7b;
}

.mini-cart-item__attributes-list {
  display: flex;
}

.mini-cart-item__attributes-list,
  div:not(.mini-cart-item__attributes-list div:last-child) {
  margin-right: 8px;
}
.cart_overlay {
  display: flex;
  position: relative;
  top: 50px;
  flex-direction: column;
  margin-bottom: 15px;
  justify-content: space-between;
}
.cart_overlay img {
  height: 100%;
  width: 125px;
  object-fit: contain;
  display: flex;
  justify-content: flex-end;
}
.sidebar {
  background-color: rgba(57, 55, 72, 0.22);
  height: 100%;
  width: 0;
  position: fixed;
  top: 10%;
  right: 0;
  overflow-x: hidden;
  opacity: 0;
  transition: 0.8s;
  display: flex;
}
.show-cart {
  opacity: 1;
  width: 100vw;
  overflow: hidden;
}
.cart_overlay_img {
  justify-content: flex-end;
  display: flex;
}
.bag {
  display: flex;
  flex-direction: column;
}
.item_brand {
  font-size: 16px;
  font-weight: 300;
}
.item_name {
  font-size: 16px;
  font-weight: 300;
}
.mn {
  display: flex;
  justify-content: space-between;
}
.quantity_block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.add_quantity_btn {
  justify-content: flex-end;
  border: 1px solid black;
  width: 21.8px;
  background-color: #fff;
}
.quantity_gallery_block {
  display: flex;
  gap: 10px;
}
.total_price {
  margin-top: 60px;
}
.button_block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}
.button_block a {
  width: 48%;
}
.viev_bag_btn {
  display: flex;
  background-color: #fff;
  border: 1px solid black;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 43px;
}
.check_out_btn {
  display: flex;
  justify-content: flex-end;
  background: #5ece7b;
  border: none;
  color: #fff;
  width: 48%;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 43px;
}
.empty_cart {
  margin-top: 50px;
  margin-bottom: 50px;
}

//CART PAGE
.cart_title {
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 25px;
}
.attributes__list {
  display: flex;
  align-items: center;
  margin: 8px 0;
}
.attributes__color {
  width: 32px;
  height: 32px;
  margin-right: 8px;
  cursor: pointer;
  box-sizing: border-box;
}
.attributes__text {
  width: 63px;
  height: 45px;
  margin-right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #1d1f22;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
  font-family: "Source Sans Pro", sans-serif;
  box-sizing: border-box;
  cursor: pointer;
}
:checked + label .attributes__text {
  background: #1d1f22;
  color: #ffffff;
}
:checked + label .attributes__color {
  box-shadow: 0 0 0 1px #ffffff, 0 0 0 2px #5ece7b;
}

.cart_item {
  display: flex;
  justify-content: space-between;
}
.activity {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.images_of_item {
  display: flex;
}
.activity_button {
  height: 45px;
  width: 45px;
  background-color: #fff;
  border: 1px solid black;
}
.order_button {
  margin: 20px 0px 20px 0px;
  border: none;
  text-decoration: none;
  cursor: pointer;
  background-color: #5ece7b;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  width: 292px;
  height: 52px;
  transition: 0.2s ease;
}
.total_price_block {
  margin-top: 30px;
}

//DROPDOWN
.select {
  display: flex;
  text-decoration: none;
  border: none;
  position: relative;
  right: 50px;
  font-size: 16px;
  top: 23px;
}

.dropdown {
  position: absolute;
  z-index: 100;
  width: 95px;
  background-color: #fff;
  right: 30px;
  top: 29px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
}

.dropdown-text {
  color: black;
  padding: 10px 16px;
  cursor: pointer;
}

.dropdown-text:after {
  content: url("./assets/arrow.svg");
  transition: all 0.3s;
  position: absolute;
  left: 45px;
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
}
.side {
  opacity: 1;
  height: 100vh;
}
.dropdown-text-aud:after {
  content: url("./assets/arrow.svg");
  transition: all 0.3s;
  position: absolute;
  left: 48px;
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
}

.dropdown.active-dd .dropdown-text:after {
  margin-top: 5px;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

.dropdown-items {
  font-size: 16px;
  position: relative;
  visibility: hidden;
  opacity: 0;
  max-height: 0px;
  transition: max-height 0.6s ease;
}

.dropdown.active-dd .dropdown-items {
  visibility: visible;
  box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
  height: auto;
  max-height: 290px;
  opacity: 1;
  transition: max-height 0.5s, opacity 1.5s, visibility 4s ease;
}

.dropdown-item {
  cursor: pointer;
  padding: 10px 18px;
  text-decoration: none;
  list-style: none;
}
.dropdown-item:hover {
  background: #eeeeee;
}

//IMAGE SLIDER
.slider {
  position: relative;
}
.slider img {
  width: 200px;
  object-fit: cover;
  margin-left: 15px;
  object-position: center;
  user-select: none;
}

.img-nav {
  cursor: pointer;
  display: flex;
  justify-content: center;
  column-gap: 10px;
  position: absolute;
  right: 10%;
  bottom: 8%;
}






